/* CSS Document */

.borda {
    font-family: arial, verdana, sans-serif;
    width: 960px;
    border: 5px solid;
    border-color: rgb(0, 165, 177);
    padding: 1em;
}

#img {
    border: 1px solid;
    border-color: black;
    margin: 0 6px 4px 0;
    float: left;
}

#logo {
    width: 20%;
    padding: 2px;
}

nav {
    border: solid;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 0;
    border-right: 0;
    margin: 1em 0 0 0;
}

nav a {
    padding: 0 1em 0 0;
    color: rgb(0, 97, 177);
}

body {
    font-family: arial, verdana, sans-serif;
    color: gray;
    display: inline;
    visibility: visible;
}

li {
    display: inline;
}

h2 {
    text-shadow: 1px 1px 4px gray;
}